/* 5/31/2021 - Moved style data for fonts, PC/NPC sheets, etc to dme (Dark Matter Extensions) Stuff here is layout styles for Grim's Chapter layouts and anything that applies strictly to entries from the compendiums - Android8675 */

/* page styling */
/* p08 */
#p008 {
    background-image: url('../images/char-sheet-bg-tile-sm.webp');
}

#p008 .flex {
    padding: 1em;
}

#p008 .flex-container {
    padding: .5em;
    border-left: 2px solid #069897;
    border-right: 2px solid #069897;
}

#p008 h5 {
    text-align: center;
}

#p008 .h5-font-resize {
    font-size: 20px;
}

/* pg 11 */
#p011 {
    width: 704px;
    height: 850px;
    background-image: url('../images/journals/p-011-a.webp');
    background-repeat: no-repeat;
    background-size: 88% 98%;
    justify-content: flex-end;
}

#p011 h4 {
    margin-left: 5em;
}

#p011 p {
    text-align: right;
}

/* pg 12 */
#p012 .inset-box {
    margin-top: 1em;
    margin-bottom: 2em;
}

/* pg 13 */
#p013 {
    background-image: url('../images/journals/p-013-a.webp');
    background-repeat: no-repeat;
    background-size: 66%;
    background-position: 100% 100%;
}

/* pg 15*/
#p015 {
    background-image: url('../images/journals/p-015-a.webp');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
}

#p015 .spacer {
    height: 25px;
}

#p015 h3 {
    line-height: 1em;
}

/* pg 17 */
#p017 {
    background-image: url('../images/journals/p-017-a.webp');
    background-repeat: no-repeat;
    background-size: 65%;
    background-position: 100% 98%;
}

#p017 .spacer {
    line-height: 15px;
}

/* pg 19 */
#p019 {
    background-image: url('../images/journals/p-019-a.webp');
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 95%;
}

#p019 .spacer {
    line-height: 15px;
}

/* p020 */
#p020 {
    background-image: url('../images/journals/p-020-a.webp');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom center;
}

#p020 .spacer {
    height: 510px;
}

/* pg21 */
#p021 {
    background-image: url('../images/journals//p-021-a.webp');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom left;
}

#p021 .spacer {
    height: 175px;
}

/* pg22 */
#p022 {
    background-image: url('../images/journals//p-022-a.webp');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 100% 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 25px;
}

#p022 .inset-box {
    width: 650px;
}

#p022 .flex-container {
    width: 300px;
}

#p022 h4 {
    margin-bottom: 0;
    padding: 0;
}

#p022 .inset-box p {}

#p023 {
    background-image: url('../images/journals/p-023-a.webp');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;

}

#p023 .spacer {
    height: 550px;
}

#p023 .txt-img-flo p {
    text-align: right;
}

#p024 {
    padding-top: 25px;
    background-image: url('../images/journals/p-024-a.webp');
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: top right;
}

#p024 .inset-box {
    margin-bottom: 40px;
}

#p024 .spacer {
    margin-top: 65px;
    background-image: url('../images/journals/p-024-b.webp');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 80% 100%;
    height: 123px;

    width: 310px;
}

#p025 .spacer {
    background-image: url('../images/journals/p-025-a.webp');
    background-size: auto 704px;
    background-repeat: no-repeat;
    height: 700px;
    margin-top: -20px;
}
